.topSection,
.resultSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topSection {
  margin-bottom: 20px;
}

.expenseBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 135px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px 10px;
}

.expenseBox span {
  font-weight: 600;
}

.btn {
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  color: #404041;
  background-color: #f6ede3;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.primary {
  background-color: #404041;
  color: #f6ede3;
}

.cancel {
  background-color: #fff;
  color: #dc2626;
  border: 1px solid #dc2626;
}
