.transaction {
  border-radius: 5px;
  background-color: #f4f4f5;
  padding: 10px;
  margin-top: 15px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 4px solid green;
}

.subTransaction {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 0.5rem;
}


.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.searchBox input {
  width: 100%;
}
